* {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

body {
  background-color: #212121;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

a, #contactMe {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

ul {
  list-style-type: none;
}

ul.socialMedia li {
  margin-bottom: 20px;
}

ul.socialMedia li {
  margin-bottom: 20px;
}

ul.socialMedia li:hover:nth-child(1) a {
  color: #29B6F6;
}

ul.socialMedia li:hover:nth-child(2) a {
  color: #7E57C2;
}

ul.socialMedia li:hover:nth-child(3) a {
  color: #ef5350;
}

ul.socialMedia li:hover:nth-child(4) a {
  color: #66BB6A;
}

ul.socialMedia li:hover:nth-child(5) a {
  color: #42A5F5;
}

ul.socialMedia li:hover:nth-child(6) a {
  color: #EC407A;
}

ul.socialMedia li:hover:nth-child(7) a {
  color: #35465c;
}

ul.socialMedia li:hover:nth-child(8) a {
  color: #78909C;
}

ul.socialMedia li:nth-last-child(1) {
  margin-bottom: 10px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#contactMe {
  font-size: 1.5em;
  font-weight: 300;
}

#contactMe:hover {
  color: #FF7043;
  cursor: pointer;
}

.socialMedia {
  font-size: 21px;
  font-weight: 300;
}

.fa {
  width: 21px;
}

.avatar svg {
  width: 150px;
  fill: rgba(255, 255, 255, .8);
}

.hideOverflow {
  overflow: hidden;
}

/* contact form*/

#contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#contactForm form {
  display: flex;
  flex-direction: column;
	width: 50%;
}

#contactForm input[type="email"], #contactForm input[type="subject"] {
	padding: 15px;
	border-bottom: 1px solid #E0E0E0;
}

#contactForm textarea {
	padding: 15px;
	min-height: 100%;
}

#formButtons {
	display: flex;
	padding: 15px 5px;
	align-items: center;
	justify-content: space-between;
	background-color: #FAFAFA;
	border-bottom: 1px solid #E0E0E0;
}

#contactForm input[type="submit"], #contactForm input[type="button"] {
  box-sizing: border-box;
	background-color: #FAFAFA;
	opacity: .8;
	padding: 0 20px;
	margin: 0;
	border: 0;
	height: 20px;
	cursor: pointer;
}

#contactForm input[type="submit"] {
	background-image: url('../img/send.png');
	background-position: center;
	background-repeat: no-repeat;
}

#contactForm input[type="button"] {
	background-image: url('../img/close.png');
	background-position: center;
	background-repeat: no-repeat;
}

#closeForm {
  position: absolute;
	right: 0;
}

#closeForm:hover {
  cursor: pointer;
}

/* jQuery Overrides */

.ui-wrapper {
	min-height: 200px;
}

.ui-wrapper {
  width: 100% !important;
  padding: 0 !important;
}

.ui-wrapper textarea {
  width: 100% !important;
}

.ui-icon {
  position: absolute;
  right: 0;
  height: 15px !important;
  width: 15px !important;
	opacity: 0.5;
}

.ui-resizable-handle {
  font-size: 12px !important;
}

.ui-resizable-handle {
  margin: 0 !important;
}

.ui-icon {
  text-indent: 0 !important;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -48px 0px;
}

/**/

@media only screen and (max-width: 500px) {
  .cardContainer {
    height: auto;
  }
  .avatar svg {
    width: 75px;
    margin: 20px 0
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .fa, .seperator {
    display: none !important;
  }
  .socialMedia {
    font-size: 1.5em;
    text-align: center;
    padding-left: 0px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border-top: none;
	border-left: none;
	border-right: none;
  border-bottom: 1px solid #E0E0E0;
	-webkit-box-shadow: 0 0 0px 1000px #E3F2FD inset;
  transition: background-color 5000s ease-in-out 0s;
}
